<div class="pie-mix-holder" [style.height]="svgHolderHeight + 'px'">
    <svg [attr.height]="svgHeight + 'px'" [attr.width]="svgWidth + 'px'" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path tabindex="0" [attr.d]="path.d" [attr.priority]="path.priority" [style.fill]="path.activecolor" [style.stroke]="strokeColor" [style.stroke-width]="strokeWidth" *ngFor="#path of generatedPiesOrdered" (mouseenter)="highlightPie(path.id)" (mouseleave)="dehighlightPie(path.id)"></path>
        <rect *ngIf="showLabels != false" [attr.x]="path?.colorBox?.x" [attr.y]="path?.colorBox?.y" width="15" height="15" style="fill-opacity:0;" [style.fill]="path?.activecolor" [style.fill-opacity]="path?.fillOpacity" *ngFor="#path of generatedPiesOrdered" (mouseenter)="highlightPie(path.id)" (mouseleave)="dehighlightPie(path.id)" />
        <text *ngIf="showLabels != false" [attr.x]="path?.textBox?.x" [attr.y]="path?.textBox?.y" *ngFor="#path of generatedPiesOrdered">{{path?.title}}</text>
        <polyline *ngIf="showLabels != false" [attr.points]="path?.ptr"
                  fill="none" stroke="#000"
                  [attr.stroke-width]="path?.activecolor != '#000' ? 1 : 2"
                  [attr.stroke-opacity]="path?.activecolor != '#000' ? 0.50 : 1"
                  stroke-linecap="round" stroke-dasharray="1, 5"
                  *ngFor="#path of generatedPiesOrdered" />
        <circle *ngIf="showStrokeCircleAtCenter == true" [attr.cx]="strokeCircle.cx" [attr.cy]="strokeCircle.cy" [attr.r]="strokeCircle.r" [style.fill]="strokeCircle.fill" [style.stroke]="strokeCircle.strokeColor" [style.stroke-width]="strokeWidth" />
    </svg>
</div>